<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card">
      <div class="move-btn">
        <button
          type="button"
          class="btn btn-primary move-btn"
          (click)="orderDesen()"
        >
          desendente
        </button>
      </div>

      <div class="card-body">
        <!-- lista  del API -->
        <ul class="list-group" *ngFor="let item of articles">
          <li class="list-group-item align">{{item.title}}</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
